body {
	text-align: center;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.ready-display {
	padding-top: 50px;
}

.conversation {
	height: calc(100% - 50px);
	overflow: auto;
	padding: 20px;
	padding-bottom: 0;
	margin: auto;
  	width: 300px;
}

#message {
	margin-bottom: 10px;
	float: left;
	background-color: #404040;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	display: inline-block;
	margin-bottom: 2px;
	clear: both;
	padding: 7px 13px;
	font-size: 12px;
	border-radius: 15px;
	line-height: 1.4;
}